* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body {
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 font-family: 'Montserrat',sans-serif;
 background-color: rgb(233,233,233);
 overflow-x: hidden;
}
.counter-app {
    position: relative;

}
.app-body {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 720px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0,0,0, .6)
}
.image-section {
    position: relative;
    height: 400px;
    background-image: url('../rome.png');
    background-size: cover;
    background-repeat: no-repeat;

}
.settings-btn {
    position: absolute;
    top:20px;
    right: 20px;
    padding: 20px 30px;
    font-size: 32px;
    background-color: #f9f9f9;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: backjground-color .3s, color .3s;
}
.settings-btn:hover {
    color: #f9f9f9;
    background-color: #333;
}
.time-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #fff;
  z-index: 100;
}
h3 {
    font-size: 24px;
    text-align: center;
}
.time-cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    width: 100%;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
    width: 18%;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
}
.number {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 48px;
}

.card-title {
    text-align: center;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 50px 30px;
    width: 400px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 0;
    transition: transform .5s, opacity .3s;
}

.active {
    transform: translateX(430px);
    opacity: 1;
}
h1 {
    margin-bottom: 30px;
    text-transform: uppercase;
}
label {
    margin-bottom: 10px;
}
input {
    margin-bottom: 30px;
    padding:10px 20px;
    width: 100%;
}
.date {
    text-align: center;
}
.save {
    padding: 10px 20px;
    cursor: pointer;
    background-color:white;
    border: 1px solid black
}
@media (max-width:1600px) {
    .active {
        transform: translateY(90px) translateX(-195px);
        opacity: 1;
        z-index: 200;
    }
}
@media (max-width: 868px) {
    .app-body {
        width: 500px;
    }
    .time-cards p {
        font-size: 30px;
    }
    .time-cards .card-title {
        font-size: 10px;
    }
    .time-cards .card {
        padding:30px 0;
    }
    .settings {
        transition: none;
        width: 350px;
    }

    .active {
        transform: translateY(120px) translateX(-75px);

    }
}
@media (max-width: 576px) {
    .app-body {
        width: 400px;
    }
    .time-cards .card {
        padding:20px 0;
    }
    .settings-btn {
        padding: 10px 15px;
    }
    .active {
        transform: translateY(120px) translateX(-20px);

    }
    .image-section {
        background-position: center;
    }
}
@media (max-width: 464px) {
    .app-body {
        width: 300px;
        height: 600px;
    }
    .time-cards .card {
        padding:10px 0;
    }
    .time-cards p {
        font-size: 20px;
    }
    .time-cards .card-title {
        font-size: 8px;
    }
    .settings-btn {
        padding: 7px 10px;
    }
    .active {
        transform: translateY(120px) translateX(30px);
 
    }
   
}